/*import font family */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');

/*Set varial color & Font Size*/

:root{

    --pritextcolor: #211C1A;
    --sectextcolor: #6C757D;
    --footerbgcolor: #1D1815;

}


body{
    font-family: 'Nunito Sans', sans-serif;
}

.banglafont{

    font-family: 'Hind Siliguri', sans-serif;

}

.pritextcolor{
    color: var(--pritextcolor);
}

.sectextcolor{
    color: var(--sectextcolor);
}

.footerbgcolor{
    color: var(--footerbgcolor);
}

.brand_item{
    height: 60%;
    width: 60%;
}

/*Customize Bootstrap Button*/
.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #1B2A41;
    border-color: #1B2A41;
}

i.headset{

    font-size: 22px;
}